
/*------------------------ header ------------------------*/

header {
  background-color: white;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin: 0;

    &__image {
      max-height: 60px;
    }
  }

  &__title {
    flex-grow: 1;
    padding-left: 1em;
    font-size: 1.5em;
  }
}