/* colors */


$red: #FD3737FF;
$red-dark: #ac2d2d;
$red-light: #ff8484;

$yellow: #DCD903;
$yellow-dark: #DBBD02;

$blue: #0f2ae0;
$blue-light: #6596f3;

$gray: #FFFFFF75;
$gray-light: #dadada;
$gray-dark: #FFFFFF1B;

$white: #FFF;